@use "../abstracts/variables";
@use "../abstracts/breakpoints" as media;

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: $color-prim-comp;
    text-shadow: 2.2px 2.2px $color-four;

    @include media.query(">=sm") {
        font-size: 30px;
        background-image: none;
      }
  
    @include media.query(">600px", "<1023px") {
      background-image: url("../../assets/images/CostaRicaMapTrans.svg");
      font-size: 50px;
      text-shadow: 2.2px 2.2px $color-four;
    }

    @include media.query(">=md") {
      background-image: url("../../assets/images/CostaRicaMapTrans.svg");
      font-size: 50px;
      text-shadow: 2.2px 2.2px $color-four;
    }

    @include media.query(">=lg") {
      background-image: url("../../assets/images/CostaRicaMapTrans.svg");
      font-size: 60px;
    }
  }

.video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
    filter: brightness(60%);
}