@use "../abstracts/variables";

.contact{
    padding: 30px 20px;
    background: $color-prim;

    h3, p{
        margin-bottom: 0;
        text-align: center;
    }

    form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        max-width: 400px;
        margin: 20px auto;
        text-align: center;
        }

    input, textarea{
        width: 70%;
        margin: 10px 0;
    }

    textarea{
        max-width: 70%;
        height: 200px;
    }

    &.button{
        margin-top: 10px;
    }
  }