@use "../abstracts/variables";

footer{
    padding: 30px 20px;
    background-color: $color-four;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.copyright{
      font-size: 0.8em;
      padding: 0px 0px 10px 0px;
    }

    &.social{
      display: flex;
      justify-content: space-around;
    }

    li{
      margin: 0 6px;
    }
    
    img{
      width: 20px;
    }
}