@use "../abstracts/breakpoints" as media;

.heading {
  font-size: rem(30px);

  @include media.query(">=sm") {
    font-size: rem(30px);
  }

  @include media.query(">=md") {
    font-size: rem(40px);
  }

  @include media.query(">=lg") {
    font-size: rem(50px);
  }
}

.nav-heading {
  font-size: rem(20px);
}