@use "../abstracts/variables";
@use "../abstracts/breakpoints" as media;

@keyframes crflag{
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 25%;
    }
    100% {
      background-position: 0% 0%;
    }
  }

.cr-text {
    background-image: linear-gradient(to left, $color-prim, $color-sec, $color-thi, $color-sec, $color-prim);
    color: transparent;
    -moz-background-clip: text;
    background-size: 500% 500%;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: crflag;
    animation-timing-function: ease-in-out;
}
  
.site-nav{
    background: $color-four;

    h1 {
        padding: 0px 5px 5px;
        text-shadow: 2px 2px $color-four;
        align-self: center;
        font-size: 30px;
    }

    ul {
        display: none;
    }
    
    @include media.query(">=md") {
        position: fixed;
        z-index: 2;
        
        ul{
            display: flex;
            justify-content: center;
            align-self: center;
        }
        li{
            margin-left: 20px;
            a:hover{
                color: $color-thi;
            }
        }
    }
}