@use "../abstracts/variables";

.provinces-container{
    background: $color-thi;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 30px 20px;

    h3{
      margin-bottom: 0;
      text-align: center;
    }
}