@use "../abstracts/breakpoints" as media;

.provinces{
    margin: 20px 0;

    a{
      display: flex;
      justify-content: center;
      margin: 20px 0
    }
    
    a *{
      margin: 0 20px;
      max-width: 50%;
    }

    @include media.query(">=sm") {
      margin-top: 40px;

      a{
        display: flex;
        margin: 20px 0;
      }

      a *{
        margin: 10px;
        max-width: 70%;
        margin: 10px 20%;
      }
    }

    @include media.query(">=md") {
      a *{
        max-width: 80%;
        margin: 20px 10%;
      }
    }

    @include media.query(">=lg") {
      a *{
        max-width: 100%;
        margin: 30px 0%;
      }
    }
}

.card {
  position: relative;
  display: inline-block;
}
.card .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.card:hover .img-top {
  display: inline;
}

/*
.province-card {
  background-color: transparent;
  width: rem(200px);
  height: auto;

  &--inner {
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  &:hover .province-card--inner {
    transform: rotateY(180deg);
  }
  
  &--front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  &--back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }
}
*/