@use "../abstracts/variables";

.provinces-container{
    background: $color-thi;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 10px 0px 100px;

    h3{
      text-align: center;
    }
}