.welcome{
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start
  }

  .welcome-text{
//grid-column: 1/6;
}

.welcome-text a{
//margin: 20px 0;
}

.welcome-img{
//grid-column: 6/9;
}

.welcome-img img{
//width: 200%;
}