// Breakpoints
$breakpoints: (
  "sm": 768px,
  "md": 1024px,
  "lg": 1200px,
  "xl": 1400px,
);

// Font Sizes
$root-font-size: 16px;

// Colors
$color-prim: #2958d8;
$color-prim-comp: #4e77e7;
$color-sec: #F7F7F7;
$color-thi: #D12323;
$color-four: #222;