// Breakpoints
$breakpoints: (
  "sm": 768px,
  "md": 1024px,
  "lg": 1200px,
  "xl": 1400px,
);

// Font Sizes
$root-font-size: 16px;

// Colors
$color-prim: #d9b8a5;
$color-sec: #45403d;
$color-prim_comp: #e9d5ca;