// Breakpoints
$breakpoints: (
  "sm": 768px,
  "md": 1024px,
  "lg": 1200px,
  "xl": 1400px,
);

// Font Sizes
$root-font-size: 16px;

// Colors
$color-prim: #375fcf;
$color-prim-comp: #6585dd;
$color-sec: #dbdbdb;
$color-thi: #e75050;
$color-four: #222;