@use "../abstracts/variables";

body{
    background: $color-sec;
    overflow-x: hidden;
    font-family: 'Bebas-Regular';
    box-sizing: border-box;
}

@font-face {
    font-family: 'Bebas-Regular';
    src: url(../../assets/fonts/Bebas-Regular.ttf);
}

h1,h3,h4{
    color: $color-sec;
    font-weight: normal;
}

p,a,li{
    color: $color-sec;
}

h1,h3{
    font-size: 1.2em;
}

h2{
    font-size: 1.6em;
    color: $color-prim-comp;
}

h4{
    font-size: 1.1em;
}



  